.tooltip {
  position: relative;
  display: inline-block;
}

/* The tooltip box */
.tooltiptext {
  visibility: visible;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 6px 10px;
  border-radius: 6px;
  width: max-content;

  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);

  white-space: nowrap;

  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Fade in on hover */
.tooltip:hover .tooltiptext {
  opacity: 1;
}